{% extends 'base.html' %}  

{% block content %}
<div>
    Gene Analysis
    <ul>
        <li>
            Step 1: please go to <a href="/uploadGenemiRNACluster" target="_new">upload gene-microRNA cluster file </a> page to upload cluster Excel file;
        </li>
        <li>
            Step 2: please go to <a href="/requestmiRNASequence" target="_new">request miRNA</a> page to request miRND sequences;
        </li>
        <li>
            Step 3: please go to <a href="/requestGeneSequence" target="_new">request gene</a> page to request gene sequences;
        </li>
        <li>
            Step 4: please go to <a href="/uploadGenemiRNAMapping" target="_new">upload gene-microRNA mapping file</a> page to upload the mapping file;
        </li>
        <li>
            Step 5: please go to <a href="/listClustermiRNA" target="_new">list cluster gene-miRNA mapping</a> page to choose cluster and miRNA set
        </li>
    </ul>
</div>
{% endblock %}
