{% extends 'base.html' %}  

{% block content %}
    Step 1: please go to <a href="/upload" target="_new">upload protein sequence</a> page to upload peroxidase sequences; <br/>
    Step 2: please go to <a href="/uniprot" target="_new">UniProt/SWISS-MODEL/ModBase</a> page to look up protein information; <br/>
    Step 3: please go to <a href="/blastp" target="_new">Blastp</a> page to compare proteins with yeast protein; <br/>
    Step 4: please go to <a href="/meme" target="_new">MEME</a> page to generate MEME motifs; <br/>
{% endblock %}
