{% extends 'base.html' %}  

{% block content %}
<div>
    Protein Analysis
    <ul>
        <li>
            Step 1: please go to <a href="/upload" target="_new">upload protein sequence</a> page to upload peroxidase sequences;
        </li>
        <li>
            Step 2: please go to <a href="/uniprot" target="_new">UniProt/SWISS-MODEL/ModBase</a> page to look up protein information;
        </li>
        <li>
            Step 3: please go to <a href="/blastp" target="_new">Blastp</a> page to compare proteins with yeast protein;
        </li>
        <li>
            Step 4: please go to <a href="/meme" target="_new">MEME</a> page to request MEME motifs;
        </li>
    </ul>
</div>
{% endblock %}
